@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <h2 class=" display-4">Выберите место, которое хотели бы посетить.</h2>
</div>
